*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/body/arrièrePlan2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header{
    background-image: url(../img/body/headerarrièreplan.jpg) ;
    color: white;
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
}
header img{
   width: 200px;
   height: auto; 
}
header h1{
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    

}
nav{
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item{
    text-decoration: none;
    color: #555;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    background: #000000;
    color: white;
    border-radius: 25px;
    padding: 0.7rem 1rem;
}
.nav-item:hover{
    background: #ffffff;
    color: #000000;
    transform: translateY(-1px);
}
article img{
    width: 500px;    
    height: auto;
    border-radius: 50px;
    display: inline;
    margin: 15px;
}
article{
    color: white;
    width: 100vw;
}

footer{
    color: white;
    background-image: url(../img/body/headerarrièreplan.jpg);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
footer p {
    margin: 5px 0;
    line-height: 1.4;
}
footer a{
    text-decoration: none;
    color: rgb(122, 130, 233);
    font-style: italic;

}
footer a:hover{
    color: rgb(202, 100, 100);
}
.border-text1{
    border: solid rgba(0, 0, 0, 0) ;
    display: flex;
    align-items: center;
    width: 47rem;
    margin: 0 auto;

}

.border-text2{
        border: solid rgba(0, 0, 0, 0) ;
    display: flex;
    align-items: center;
    width: 47rem;
    margin: 0 auto;
}
.border-text3{
        border: solid rgba(0, 0, 0, 0) ;
    display: flex;
    align-items: center;
    width: 47rem;
    margin: 0 auto;
}

.border-text5{
        border: solid rgba(0, 0, 0, 0) ;
    display: flex;
    align-items: center;
    width: 47rem;
    margin: 0 auto;
}
.border-text6{
        border: solid rgba(0, 0, 0, 0) ;
    display: flex;
    align-items: center;
    width: 47rem;
    margin: 0 auto;
}
article video{
    width: 45rem;
    border-radius: 25px;
}
article p{
    border: 3px solid #000000b0;
    background: #0000009f;
    width: 20rem;
    font-family: Arial, Helvetica, sans-serif;

}
article a{
    text-decoration: none;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;

}
article a:hover{
    color: red;
}
h2{
    text-align: center;
    font-size: 3em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    text-align: center;
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 900px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        background-image: url(../img/body/arrièrePlan2.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    header{
        background-image: url(../img/body/headerarrièreplan.jpg) ;
        color: white;
        padding: 10px;
        display: flex;
        gap: 20px;
        align-items: center;
    }
    header img{
    width: 100px;
    height: auto; 
    }
    header h1{
        font-size: 2rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        

    }
    nav{
        background-color: rgb(114, 114, 114);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .nav-links{
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-item{
        text-decoration: none;
        color: #555;
        padding: 0.25rem 0.5rem;
        transition: 0.3s;
        background: #000000;
        color: white;
        border-radius: 25px;
        padding: 0.35rem 0.5rem;
    }
    .nav-item:hover{
        background: #ffffff;
        color: #000000;
        transform: translateY(-1px);
    }
    article img{
        width: 300px;    
        height: auto;
        border-radius: 25px;
        display: inline;
        margin: 7.5px;
    }
    article{
        color: white;
        width: 100vw;
    }

    footer{
        color: white;
        background-image: url(../img/body/headerarrièreplan.jpg);
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    footer p {
        margin: 2.5px 0;
        line-height: 0.7;
        font-size: 14px;
    }
    footer a{
        text-decoration: none;
        color: rgb(122, 130, 233);
        font-style: italic;

    }
    footer a:hover{
        color: rgb(202, 100, 100);
    }
    .border-text1{
        border: solid rgba(0, 0, 0, 0) ;
        display: flex;
        align-items: center;
        width: 23.5rem;
        margin: 0 auto;

    }

    .border-text2{
        border: solid rgba(0, 0, 0, 0) ;
        display: flex;
        align-items: center;
        width: 23.5rem;
        margin: 0 auto;
    }
    .border-text3{
        border: solid rgba(0, 0, 0, 0) ;
        display: flex;
        align-items: center;
        width: 23.5rem;
        margin: 0 auto;
    }

    .border-text5{
        border: solid rgba(0, 0, 0, 0) ;
        display: flex;
        align-items: center;
        width: 23.5rem;
        margin: 0 auto;
    }
    .border-text6{
        border: solid rgba(0, 0, 0, 0) ;
        display: flex;
        align-items: center;
        width: 23.5rem;
        margin: 0 auto;
    }
    article video{
        width: 22.5rem;
        border-radius: 12.5px;
    }
    article p{
        border: 1.5px solid #000000b0;
        background: #0000009f;
        width: 10rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;

    }
    article a{
        text-decoration: none;
        color: cyan;
        font-family: Arial, Helvetica, sans-serif;

    }
    article a:hover{
        color: red;
    }
    h2{
        text-align: center;
        font-size: 1.5em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h3{
        text-align: center;
        font-size: 1em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}









